body {
    margin: 0px;

}
.clearfix::after{

    content: "";
    display: block;
    clear: both;
    }
    ol, ul {
        list-style: none;
    }


    /* Code for header */
#header1 {
    z-index: 1;
    height: 104PX;
}

#header2 {
    margin: 0px auto;
    width: 70%;
    z-index: 2;
    background-color: white;
    height: auto;
}

h1{
    text-align: center;
    padding: 20px;
    background: gray;
    font-size: 32px;
    color: #eee;
    float: left;
}

#contact,
#portfolio,
#about {
    border-right-style: solid;
    border-width: 1px;
    margin-top: 50px;
    float: right;
    color: gray;
    font-size: 14pt;
    padding: 10px;
    background-color: none;
}



/* Code for body */
#main1 {
    z-index: 1;
    float: none;
    background-color: darkgray;
    margin: 0px auto;
    padding: 40px;
    z-index: 1;
}
#main2 {
    z-index: 2;
    margin: 0px auto;
    width: 70%;
    height: 500px;
    background-color: white;
    z-index: 2;
    padding: 30px;
}

h2 {
    font-size: 18;
    border-bottom: solid
}


#profile-pic {
    float: left;
}
p {
   float: left;
   width: 60%;
   margin-left: 20px;


}
