.clearfix::after{

    content: "";
    display: block;
    clear: both;
    }


h1{
    text-align: center;
    padding: 20px;
    background: gray;
    font-size: 32px;
    color: #eee;
    float: left;
    margin-left: 50px;
}

#contact,
#portfolio,
#about {
    border-right-style: solid;
    border-width: 1px;
    margin-top: 50px;
    float: right;
    color: gray;
    font-size: 14pt;
    padding: 10px;
    background-color: none;
}

#header1 {
    float: none;
}

#header2 {
width: 70%;
margin-left: 80pt;
}

body {

}